.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid deeppink;
  border-radius: 3px;
  padding: 20px;
  background-color: darkseagreen;
}

.todolist-empty {
  border: 2px solid deeppink;
  border-radius: 3px;
  padding: 20px;
  background-color: darksalmon;
}

.btn {
  margin-left: 10px;
}